/** @format */

.header {
  display: flex;
  flex-direction: column;
}

.priceContainer {
  display: flex;
}

.extraContainer {
  display: flex;
  align-items: center;
}

.extraOptions {
  display: flex;
  justify-content: space-evenly;
}
