/** @format */

.container {
  display: flex;
  padding: 40px;
}

.signoutButton {
  display: flex;
  position: absolute;
  right: 50px;
  top: 120px;
}

.signoutButton svg {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.item {
  flex: 1;
}

.table {
  width: 100%;
  border-spacing: 20px;
  text-align: left;
}

.title {
  text-align: center;
}

.title,
.trTitle {
  color: var(--text-color-secondary);
}

.buttonContainer {
  display: flex;
  gap: 5px;
  height: 53px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .trTitle {
    display: none;
  }
  .trData {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
