/** @format */

.container {
  display: flex;
  padding: 40px;
}

.left {
  flex: 3;
  margin-right: 20px;
}

.right {
  flex: 1;
}

.column {
  text-align: center;
}

.header {
  color: var(--text-color-secondary);
  font-weight: bold;
}

.imgContainer {
  height: 100px;
  width: 100px;
  position: relative;
}

.name {
  color: var(--text-color);
  font-size: 18px;
}

.quantity {
  text-align: center;
}

.total {
  font-weight: bold;
  font-size: 18px;
}

.contentTitle {
  margin-right: 10px;
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .left {
    flex: 1;
    margin: 0;
    padding: 20px;
  }
  .left p {
    font-size: 20px;
    white-space: pre-wrap;
    text-align: center;
  }
  .right {
    padding: 20px;
    font-size: 20px;
  }
  .header {
    text-align: center;
    font-size: 18px;
  }
  .imgContainer {
    height: 50px;
    width: 50px;
  }
  .extras {
    white-space: pre-wrap;
  }
  .button span {
    font-size: 22px;
  }
}
