/** @format */

.container {
  height: calc(100vh - 100px);
  background-color: var(--background-color-dark);
  display: flex;
}

.item {
  flex: 1;
  position: relative;
  display: flex;
}

.item:last-child {
  flex: 2;
  padding: 50px;
  justify-content: space-between;
}

.card {
  flex: 1;
  padding: 0 20px;
}

.memo {
  color: var(--primary-color);
}

.title {
  font-size: 18px;
  color: var(--text-color);
}

.text {
  color: lightgray;
}


@media screen and (max-width: 768px) {
  .container {
    height: auto;
    text-align: center;
  }
  .item:first-child {
    display: none;
  }
  .item:last-child {
    flex-direction: column;
  }
  .memo {
    font-size: 30px;
  }
  .title {
    font-size: 30px;
  }
  .text {
    font-size: 20px;
  }
}
