/** @format */

.title {
  font-size: 24px;
  color: var(--text-color-secondary);
}

.container {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.error {
  font-size: 14px;
  color: red;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 20px;
  }

  .wrapper {
    width: 60%;
  }
}
