/** @format */

.container {
  height: 100px;
  width: 100%;
  padding: 0 50px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
}

.item {
  flex: 1;
  display: flex;
  color: var(--primary-color);
}

.item:last-child {
  justify-content: flex-end;
}

.callButton {
  color: var(--text-color);
  background-color: var(--background-color-light);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.text:first-child {
  font-size: 12px;
  font-weight: 500;
}

.text:last-child {
  font-size: 15px;
  font-weight: bold;
}

.list {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
}

.listItem {
  margin: 20px;
  cursor: pointer;
}

.logo {
  padding: 0 20px;
}

.logo svg {
  width: 50px;
  height: 50px;
  animation: rotation 8s infinite alternate;
}

@keyframes rotation {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.cartIcon {
  position: relative;
  cursor: pointer;
}

.cartIcon svg,
.toggleButton svg {
  width: 35px;
  height: 35px;
}

.counter {
  position: absolute;
  top: 16px;
  right: 38px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: var(--text-color);
  background-color: var(--background-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

@media screen and (max-width: 768px) {
  #open {
    height: 100vh;
    align-items: flex-start;
    padding-top: 30px;
  }

  .item {
    flex: none;
  }

  .item:nth-child(2) {
    justify-content: center;
    font-size: 25px;
    position: fixed;
    top: calc(50% - 420px / 2);
    left: calc(50% - 181px / 2);
  }

  #closeLinks,
  #closeCart {
    display: none;
  }

  .text:first-child {
    font-size: 15px;
  }

  .text:last-child {
    font-size: 15px;
  }

  .toggleButton {
    display: flex;
    cursor: pointer;
  }

  .list {
    flex-direction: column;
  }

  .cart {
    position: absolute;
    top: 110px;
    right: 55px;
  }

  .counter {
    top: -10px;
    right: -15px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .item:nth-child(1) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .texts {
    margin: 5px 0 0 0;
    min-width: 110px;
  }
}
